/*d'abord les règles pour tous médias et tailles */
.titreEnRouge { color: red;}
th {  background-color : lightgray; color: blue;}
tr:nth-child(2n) td {  background-color : black; color: white;}
tr:nth-child(2n+1) td {  background-color : white; color: black;}

/*
//solution pas responsive pour label de meme largeur
label { display : inline-block ; width: 150px;}
*/

.mylabel {
    flex : 0 0 250px;
}

.mymaxsize {
   width : 100%;
   min-width: 300px;
}

.mywrapbox {
    display: flex;
    flex-flow: row wrap;
    align-items : center;
}

.myitem_with_margin {
    flex: 1 1 auto;
    text-align: center; padding: 6px; margin: 10px;
}

.myitem {
    flex: 1 1 auto;
    text-align: center; padding: 6px; 
}


/* ensuite nouvelles regles pour taille > 600px de large) */
@media screen and (min-width : 600px){
   body { background-color : #f4b6a6}
   h1 { font-size : 48pt; text-decoration: underline};
}
/* ensuite nouvelles regles pour taille < 600px de large) */
@media screen and (max-width : 600px){
    h1 { font-size : 24pt; font-style: italic};
    body { background-color : #bbe1b1}
}