@charset "UTF-8";

.error {
	color: red;
}

.footer{
	background-color:navy;width:100%;color:white
}

.footer > a{
	color:white
}

.header{
	width:100%;font-size:36px;line-height:48px;
	background-color:navy;color:white
}