@charset "UTF-8";

.error {
	color: red;
}

.footer{
	background-color:rgb(0, 0, 128);width:100%;color:white
}

.footer > a{
	color:white
}

.header{
	background-color:rgb(0, 0, 128);width:100%;color:white
}